body {
  color: #ffffff;
}

.page {
  background: linear-gradient(to right, #051937, #004d7a, #004d7a, #004d7a, #051937);
  
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-logo {
  height: 200px;
  width: auto;
}

.header-links {
  
}

.header-about-us {
  flex-shrink: 1;
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
}

.header-faq {
  flex-shrink: 1;
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
}

.header-login {
  margin-left: 10px;
}

.laptop-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0vh;
}

.laptop-image {
  height: 30vw;
  width: auto;
  margin-right: 20px
}

.start-writing-button {
  display: flex;
  padding: 10px 55px;
  font-size: 35px;
  background-color: #C0D8F0;
  color: rgb(0, 0, 0);
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.start-writing-button:hover {
  background-color: #A0C6E8;
}

.form-icon-container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.form-icon {
  width: 100px;
  height: 10vh;
  cursor: pointer;
  border: 1px solid #686767;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  color: black;
}

.form-icon:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;

  border: 1px solid #6d6d6d;
  border-radius: 3px;
}

.form-icon:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

