@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
}

.page {
  background: linear-gradient(to right, #051937, #004d7a, #004d7a, #004d7a, #051937);
  
}

.laptop-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0vh;
}

.laptop-image {
  height: 30vw;
  width: auto;
  margin-right: 20px
}

.start-writing-button {
  display: flex;
  padding: 10px 55px;
  font-size: 35px;
  background-color: #C0D8F0;
  color: rgb(0, 0, 0);
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.start-writing-button:hover {
  background-color: #A0C6E8;
}



